.main:hover {
  cursor: pointer;
}

a {
  color: #232323;
  transition: all 0.3s ease-out !important;
}

a h3 {
  font-size: 28px;
  font-weight: 700;
}
a p {
  font-size: 16px;
}

a:hover {
  color: #232323;
  text-decoration: none;
}
a:hover h3 {
  transition: all 0.3s ease-out !important;
  letter-spacing: 1.1px;
}

.image{
  height:70%;
}


.event_main {
  display: flex;
  margin-top: 1vh;
  margin-left: 1vh;
}

@media only screen and (max-width: 900px) {
  .event_main {
    flex-direction: column;
  }
}

.event_main:hover {
  cursor: pointer;
}

.events_div {
  margin-bottom: 10vh;
}

.event_a {
  color: #232323;
  transition: all 0.3s ease-out !important;
}

.event_a h3 {
  font-size: 28px;
  font-weight: 700;
}
.event_a p {
  font-size: 16px;
}

.event_a:hover {
  color: #232323;
  text-decoration: none;
}
.event_a:hover h3 {
  transition: all 0.3s ease-out !important;
  letter-spacing: 1.1px;
}
.event_a:hover p {
  transition: all 0.3s ease-out !important;
  letter-spacing: 1px;
}
