.main:hover {
  cursor: pointer;
}

a {
  color: #232323;
  transition: all 0.3s ease-out !important;
}
a:hover {
  color: #232323;
  text-decoration: none;
}

a:hover h3 {
  transition: all 0.3s ease-out !important;
  font-weight: 300;
  letter-spacing: 1.1px;
}
